
.list-candidate {
    .candidate-row{
        margin-left: 20px;
        h4 {
            padding-top: 10px;
        }
        .info {
            margin: 12px 10px 0 20px;
        }
    }
    .send-email-row{
        padding:1rem 2rem 0 0;
    }
    .sendemail{
        width: 8rem;
    }
}

