.dashboard-sidebar{
width: 250px;
height: 600px;
 overflow-y: hidden; 
 background-image: linear-gradient(to right, #aea9fe, #e1b8fe);
}
.dashboard-sidebar a{
  color: #fff
}

.dashboard-sidebar .dashboard-menu ul li:hover a, .dashboard-sidebar .dashboard-menu ul li.active a {
  color:#fff;
  background-color:transparent;
  text-decoration: none;
}

.dashboard-sidebar .dashboard-menu ul li {
  padding: 20px 0;
  border-bottom: 1px solid #a1a5fc;
}