.dashboard-component {
    padding-top: 30px;
    padding: 2rem;
}
.common-total-info-row {
    padding: 0 10rem 0 10rem;
}
.common-total-info-col {
    text-align: center;
}
.jobs, .interviews, .screened-candidate {
    display: inline-block;
    height: 100px;
    text-align:center;
    background-color: burlywood;
    border-radius: 5px;
    padding-top: 40px;
    width: 300px;
}

