/*---------------------------------------------
	Dashboard
---------------------------------------------*/

.dashboard-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.floatleft{
    float: left;
    margin-right: 30px;
}
.dashboard-container .dashboard-content-wrapper {
	width: 75%;
}

.dashboard-container .dashboard-sidebar {
	width: 25%;
}

.dashboard-content-wrapper {
	padding: 30px;
	background: #ffffff;
}

.dashboard-sidebar {
	background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#f7f9fc));
	background-image: -webkit-linear-gradient(left, #ffffff, #f7f9fc);
	background-image: -o-linear-gradient(left, #ffffff, #f7f9fc);
	
    padding: 20px;
}

.dashboard-sidebar .user-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
}

.dashboard-sidebar .user-info .thumb {
	width: 60px;
	margin-right: 15px;
	border-radius: 3px;
	overflow: hidden;
}

.dashboard-sidebar .user-info .user-body h5 {
	font-size: 1.5rem;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.dashboard-sidebar .profile-progress .progress-on {
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	margin-bottom: 0;
}

.dashboard-sidebar .profile-progress .progress-body {
	position: relative;
}

.dashboard-sidebar .profile-progress .progress-body .progress {
	border-radius: 0;
	height: 5px;
}

.dashboard-sidebar .profile-progress .progress-body .progress .progress-bar {
	border-radius: 0;
}

.dashboard-sidebar .profile-progress .progress-body .progress-to {
	position: absolute;
	top: -20px;
	right: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1;
	margin-bottom: 0;
}

.dashboard-sidebar .dashboard-menu {
	padding-top: 20px;
}

.dashboard-sidebar .dashboard-menu ul {
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	list-style: none;
}

.dashboard-sidebar .dashboard-menu ul li i {
	color: #aaa;
	width: 25px;
}

.dashboard-sidebar .dashboard-menu ul li:hover i,
.dashboard-sidebar .dashboard-menu ul li.active i {
	color: #246df8;
}

.dashboard-sidebar .dashboard-menu ul.delete {
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	padding-bottom: 0;
	padding-top: 10px;
}

.dashboard-sidebar .dashboard-menu ul.delete li i {
	color: #ff3366;
}

.dashboard-sidebar .dashboard-menu ul.delete li:hover i {
	color: #ff3366;
}

.dashboard-sidebar .dashboard-menu ul.delete li:hover a {
	color: #ff3366;
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 51, 102, 0.2)), to(rgba(255, 51, 102, 0)));
	background-image: -webkit-linear-gradient(left, rgba(255, 51, 102, 0.2), rgba(255, 51, 102, 0));
	background-image: -o-linear-gradient(left, rgba(255, 51, 102, 0.2), rgba(255, 51, 102, 0));
	background-image: linear-gradient(to right, rgba(255, 51, 102, 0.2), rgba(255, 51, 102, 0));
}
.user-statistic-block .user-statistic {
    width: 31.5%;
    color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    padding-left: 80px;
    position: relative;
}
.dashboard-section {
    padding-top: 20px;
}

.dashboard-section .user-statistic {
    margin-right: 10px;
}

.dashboard-sidebar .dashboard-menu ul li a {
    color: #6f7484;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 10px;
}


.dashboard-sidebar .dashboard-menu ul li {
    padding: 10px 0;
}

.dashboard-sidebar .dashboard-menu ul li:hover i, .dashboard-sidebar .dashboard-menu ul li.active i {
    color: #246df8;
}

.dashboard-sidebar .dashboard-menu ul li:hover a, .dashboard-sidebar .dashboard-menu ul li.active a {
    color: #246df8;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(36, 109, 248, 0.2)), to(rgba(36, 109, 248, 0)));
    background-image: -webkit-linear-gradient(left, rgba(36, 109, 248, 0.2), rgba(36, 109, 248, 0));
    background-image: -o-linear-gradient(left, rgba(36, 109, 248, 0.2), rgba(36, 109, 248, 0));
    background-image: linear-gradient(to right, rgba(36, 109, 248, 0.2), rgba(36, 109, 248, 0));
}

.user-statistic-block .user-statistic:first-child {
    background-image: -webkit-gradient(linear, left top, right top, from(#aa91fa), to(#9eacfd));
    background-image: -webkit-linear-gradient(left, #aa91fa, #9eacfd);
    background-image: -o-linear-gradient(left, #aa91fa, #9eacfd);
    background-image: linear-gradient(to right, #aa91fa, #9eacfd); }
  .user-statistic-block .user-statistic:nth-child(2) {
    background-image: -webkit-gradient(linear, left top, right top, from(#aea9fe), to(#e1b8fe));
    background-image: -webkit-linear-gradient(left, #aea9fe, #e1b8fe);
    background-image: -o-linear-gradient(left, #aea9fe, #e1b8fe);
    background-image: linear-gradient(to right, #aea9fe, #e1b8fe); }
  .user-statistic-block .user-statistic:last-child {
    background-image: -webkit-gradient(linear, left top, right top, from(#91bcf9), to(#99d7f2));
    background-image: -webkit-linear-gradient(left, #91bcf9, #99d7f2);
    background-image: -o-linear-gradient(left, #91bcf9, #99d7f2);
    background-image: linear-gradient(to right, #91bcf9, #99d7f2); }


@media all and (max-width: 991px) {
	.dashboard-container {
		display: block;
	}
	.dashboard-container .dashboard-content-wrapper,
	.dashboard-container .dashboard-sidebar {
		width: 100%;
	}
	.pricing.advance:before,
	.pricing.advance:after {
		height: 0;
		width: 0;
	}
}

@media all and (max-width: 767px) {
	.user-statistic-block .user-statistic {
		width: 47%;
		margin-bottom: 30px;
	}
	.user-statistic-block .user-statistic svg {
		top: 40px;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.bookmark-area .job-list,
	.dashboard-apply-area .job-list {
		position: relative;
	}
	.bookmark-area .job-list .body .more .bookmark-remove,
	.dashboard-apply-area .job-list .body .more .bookmark-remove {
		position: absolute;
		top: 30px;
		right: 20px;
	}
	.jy-alert {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
	}
	.message-lists {
		width: 100%;
		border-right: 0;
	}
	.message-box {
		display: none;
		visibility: hidden;
	}
}

@media all and (max-width: 479px) {
	.user-statistic-block {
		display: block;
	}
	.user-statistic-block .user-statistic {
		width: 100%;
	}
	.user-statistic-block .user-statistic svg {
		top: 40px;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.download-resume .update-file {
		display: block;
		margin-bottom: 10px;
	}
	.dashboard-section .information ul {
		display: block;
	}
	.dashboard-section .information ul li {
		width: 100%;
	}
	.dashboard-section .modal .modal-body .title {
		display: block;
	}
	.dashboard-section .modal .modal-body .title .add-more {
		margin-top: 15px;
	}
}