body {
    margin: 0;
}

html, body, h* {
    font-family: 'Open Sans', sans-serif!important;
}

* {
    font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  outline: none;
}
.table thead {
    font-weight: bold;
}
.table tbody {
    font-size: 13px;
}

.table tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
  }
  
  .table thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }